@import '../../colors';

.label {
    color: var(--blue);
}

.ui-container {
    margin: 0;
    user-select: none;
}

.ui-interactive {
    cursor: pointer;
}

.ui-decorative {
    color: var(--gray);
}
