@import '../colors';
@import '../constants';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1em 2em;

    z-index: 1;

    background-color: $light-bg3;
    @media only screen and (min-width: $mobile-size) {
        left: 0;
        right: 0;
        bottom: 0;
        position: sticky;
    }

    @media only screen and (max-width: $mobile-size) {
        font-size: 0.8rem;
    }
}

.pushd {
    background-color: $light-bg2;
    color: $light-bright-yellow !important;

    a {
        color: $light-bright-green;
        text-decoration: none;
        border-bottom: 1px dashed $light-bright-green;

        &:hover {
            color: $light-bg0;
            background-color: $light-bright-green;
        }
    }
}

.contact {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-left: 2em;
}

.links {
    ul {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.link {
    margin-right: 1em;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: $light-bright-aqua;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copyright {
    display: inline-block;
    margin: 0;
    padding-left: 2em;
}
