@import '../colors';

.container {
    @extend %dark-colors;
}

.title {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    font-weight: normal;
    color: var(--bg0);
    background-color: var(--fg2);
    padding: 0 0.44em;
}

