@import '../_colors';
@import '../_constants';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i,700&display=swap');

html {
  @extend %light-colors;

  color: var(--fg);
  background-color: var(--bg);
  font-family: 'Source Code Pro', monospace;
  text-size-adjust: 100%;

  font-size: 14px;

  @media (min-width: $large-size) {
      & { font-size: 15px; }
  }
  @media (max-width: $mobile-size) {
      & { font-size: 12.5px; }
  }
  @media (max-width: 380px) {
      & { font-size: 12px; }
  }
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
}

.page-footer {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

a.plain {
    color: inherit !important;
    background-color: inherit !important;

    &:hover {
        color: inherit !important;
        background-color: inherit !important;
    }
}
