@import '../colors';
@import '../constants';

$box-color: var(--bg2);
$box-border: 1px solid $box-color;
$link-color: var(--yellow);
$text-element-color: var(--gray);

.pane-container {
    position: relative;
    box-sizing: border-box;

    @extend %dark-colors;
    color: var(--fg1);
    background-color: var(--bg0);
    *::selection {
        @extend %light-colors;
        color: var(--fg1);
        background-color: var(--bg0);
    }
}

.terminal-theme {
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
    color: var(--fg1);
    background-color: var(--bg);

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin: 1em 0;
        margin-top: 2em;
        font-size: 1em;
        line-height: normal;

        &:first-child {
            margin-top: 0;
        }
    }

    h5, h6 {
        font-weight: normal;
        text-transform: capitalize;
    }

    h3, h3::selection {
        text-transform: uppercase;
        color: var(--green);
    }

    h4, h4::selection {
        text-transform: capitalize;
        color: var(--aqua);
    }

    h5, h5::selection {
        color: var(--blue);
    }

    h6, h6::selection {
        color: var(--purple);
    }

    h3::before {
        content: '# ';
    }

    h4::before {
        content: '## ';
    }

    h5::before {
        content: '### ';
    }

    h6::before {
        content: '#### ';
    }

    em::before, em::after {
        content: '_';
        color: var(--gray);
    }

    strong::before, strong::after {
        content: '*';
        color: var(--gray);
    }

    p {
        margin: 0;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    a {
        &::selection {
            @extend %light-colors;
            background-color: var(--yellow);
            color: var(--fg1);
        }

        color: $link-color;
        cursor: pointer;
        border-bottom: 1px dashed;
        text-decoration: none;

        &:hover, &:focus {

            background-color: $link-color;
            color: var(--bg0);
        }
    }

    ol {
        display: block;
        margin: 1em 0;
        padding: 0;

        list-style-type: none;
        counter-reset: ol;
        & > li::before {
            content: counter(ol)'.';
	          counter-increment: ol;

            color: var(--gray);
            display: inline-block;
            width: 2.4em;
            text-align: right;
            margin-right: 1.2em;
        }
    }

    ul {
        padding: 0;
        display: block;
        margin: 1em 0;

        list-style-type: none;
        li::before {
            color: $text-element-color;
            display: inline-block;
            width: 2em;
            margin-right: 1em;
            content: '*';
            text-align: right;
        }

        p {
            margin: 0;
        }
    }

    blockquote {
        color: var(--fg2);
        font-style: italic;
        margin: 1em 0;
        padding: 0;
    }

    :not(pre) > code {
        font-style: normal;
        color: var(--fg1);
        background-color: var(--bg0_s);

        &::before, &::after {
            color: var(--gray);
            content: '`';
        }
    }

    pre {
        line-height: 1.0;
        font-size: 0.85em;
        color: var(--fg);
        background-color: var(--bg0-s);
        padding: 1em 0;
        overflow-x: scroll;
    }

    --vscode-highlight-padding-v: 0;
    --vscode-highlight-padding-h: 0;
    --vscode-highlight-padding-left: 0;
    --vscode-highlight-border-radius: 0;

    table {
        border-collapse: collapse;
        padding-right: 1em;
        margin: 1em 0;
    }

    th {
        border: $box-border;
        padding: 1em;
    }

    td {
        padding-left: 1em;
        padding-right: 1em;
        border: $box-border;
    }
}

.path {
    color: var(--bright-aqua);
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

.box-container {
    text-align: center;
}


.box {
    position: relative;
    display: block;
    margin: 4em auto;
    padding: 2em;
    background-color: var(--bg0);
    border: $box-border;
    text-align: left;

    &:hover, &:focus {
        border-color: var(--fg1);
        .link-box-link-text  {
            color: var(--bg0);
            background-color: var(--yellow);

            &::after {
                color: var(--yellow);
            }
        }
    }
}

a.box {
    color: inherit;
    border-bottom: $box-border;
    text-decoration: none;

    &:hover, &:focus {
        color: inherit;
        background-color: var(--bg0);
    }
}

.link-box-link-text {
    display: inline-block;
    margin-top: 2em;

    position: relative;

    border-bottom: 1px dashed var(--yellow);

    color: var(--yellow);

    &::after {
        content: '->';
        position: absolute;
        right: -2em;
    }
}

$column-size: 1em;
$column-size-2: 2em;
$gutter-size: 4em;
$gutter-offset: 5em;

/// Line numbers (::after content) are absolutely positioned off the left edge
/// of the text area which depends on the size of the gutter; add the padding
/// of one column between the gutter and the text and the offset is 5ems.  This
/// is to allow elements that need the ::before content to still have content
/// appear directly before the element and still count towards the line count.

.line-box {
    display: block;
    margin: 0;
    @media screen and (min-width: $mobile-size) {
        padding-left: $gutter-size;
    }
    padding-right: $column-size;
    @media screen and (min-width: $large-size) {
        margin: 0 auto;
        max-width: 700px;
    }
}

.footer {
    z-index: 3;
    background-color: var(--bg1);
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
}

.line-heading {
    font-size: 1.1rem;
    padding-left: $column-size;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: $box-border;
    border-left: $box-border;

    @media screen and (min-width: $large-size) {
        border-right: $box-border;
    }
}

.text-area {
    position: relative;
    border-left: $box-border;
    border-bottom: $box-border;

    @media screen and (min-width: $large-size) {
        border-right: $box-border;
    }

    padding: $column-size-2 1em;
    padding-bottom: 2em;

    @media screen and (min-width: $mobile-size) {
        padding: $column-size-2 0;
        padding-left: $column-size;
        counter-reset: line-numbers;

        a::before {
            z-index: 2;
            content: '~';
            position: absolute;
            left: -$column-size-2;
            font-weight: bold;
        }
        a:hover::before, a:focus::before {
            color: $link-color;
        }
    
        blockquote {
            p::before {
                content: '';
            }
            &::before {
                content: '>';
                color: var(--fg3);
                font-weight: bold;
                position: absolute;
                left: 0;
            }
        }
    
        /// Absolute position relative to the item itself into the gutter
        p, li, h1, h2, h3, h4, h5, h6, table {
            position: relative;
            display: block;
    
            counter-increment: line-numbers;
            &::after {
                content: counter(line-numbers);
    
                color: $text-element-color;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
    
                position: absolute;
                top: 0;
                left: -$gutter-offset;
    
                width: 3em;
                padding-right: $column-size;
                text-align: right;
            }
            &:hover::after {
                color: var(--fg0);
            }
        }
    }
}
